*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
input {
    width:90%;
    padding:1em 2em 1em 2em;
}
button{
    padding:1em 2em 1em 2em;
    margin:1em;
    background-color:#fff;
    border:2px solid black;
    cursor:pointer;
}
button:hover{
    background-color:#000;
    color:#fff;
}
main{
    height:100vh;
    width:100vw;
}

header{
    justify-content:center;
    align-items:center;
    display:flex;
}
.todo{
    display:flex;
    padding:1em 2em 1em 2em;
    margin:1em;
    border:1px solid black;
    cursor:pointer;
}
.todo:hover{
    background-color:#000;
    color:#fff;
}
.index{
    padding:0 1em 0 0;
}
.delete{
    margin-left:auto;
}
